node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.cta.json
.pnpm-store
.turbo
*.tgz
/packages/cli/web
package-lock.json
worker-configuration.d.ts
